<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("header.ejs") %>
    <title>Home Page</title>
</head>
<body>
    <div class="text-bg-primary pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Welcome to My To-Do List!</h2>
          <p class="lead">Optimize time and tasks with our simple and efficient list.</p>
        </div>
        <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        
        </div>
      </div>
</body>
</html>